.ColorBlanco {
    color: #FFFFE0;
}

.ColorRojo {
    color: #FF7F50;
}

.ColorAzul {
    color: #87CEFA;
}

.ColorVioleta {
    color: #b64fe9;
}

.ColorBeige {
    color: #DEB887;
}

.ColorHueso {
    color: #FFE4C4;
}

* {
    background-color: #03050a;
    size: 20cm;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
